@import '../../styles/variables.scss';

.button {
    padding: 8px 16px;
    background: white;
    border-radius: 4px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.05em;
    cursor: pointer;
}