.main {
    display: flex;
    justify-content: center;
    align-items: center;

    > div{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 8px;

        > .active{
            border-bottom: 2px solid #333333;
            height: 54px;
            color: #333333;
            font-weight: 400;
        }

        > span{
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            width: 124px;
            height: 56px;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.08em;
            color: #666666;
            cursor: pointer;
        }
    }
}